* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    color: rgba(204, 204, 204, 0.705);
}

.borda {
    margin-top: 20px;
    width: 150px;
    border-radius: 120px;
    border: 5px rgba(136, 136, 136, 0.705);
    box-shadow: 0 0 20px rgba(206, 206, 206, 0.712);
    border: 2px solid rgb(255, 255, 255);
    animation: animacao2 1s infinite, animacao1 2s ease-in-out forwards;
 }

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
    animation: animacao3 3s infinite, animacao1 2s ease-in-out forwards;
}

h2 {
    animation: animacao3 3s infinite, animacao1 2s ease-in-out forwards;
    font-size: 16px;
}
h3 {
    margin: 0 30px;
    margin-top: 10px;
    animation: animacao3 3s infinite, animacao1 2s ease-in-out forwards;
    font-size: 16px;
}

.profile {
    text-align: center;
    margin-top:  0 20px;
}

.gif {
    background-image: url(../img/14fd.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.social {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 30px;
}

.social img {
    width: 33px;
    border-radius: 8px;
    border: 2px solid rgb(49, 49, 49);
    animation: animacao3 3s infinite, animacao1 2s ease-in-out forwards;
}

.links-list {
    list-style: none;
}

.links-list li {
    margin: 10px 20px;
}

.links-list li a {
    display: block;
    background-color: rgba(49, 49, 49, 0.123);
    padding: 15px 20px;
    border-radius: 10px;
    text-decoration: none;
    color:rgba(252, 252, 252, 0.87);
    box-shadow: 0 0 0 0px rgba(78, 78, 78, 0.11);
    font-weight: bold;
    border: 2px solid rgb(0, 0, 0);
    animation: animacao3 3s infinite, animacao1 2s ease-in-out forwards;
}

.links-list li a span {
    font-size: 17px;
    color: rgba(255, 255, 255, 0.705);
    display: block;
    margin-top: 10px;
}

@keyframes animacao1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes animacao2 {
    50% { border-color: rgb(206, 206, 206); }
    100% { border-color: rgb(151, 151, 151); }
  }

@keyframes animacao3 {
    0% { border-color: rgb(212, 212, 212); }
    25% { border-color: rgb(177, 177, 177); }
    50% { border-color: rgb(87, 87, 87); }
    75% { border-color:  rgb(65, 65, 65,); }
    100% { border-color: rgb(0, 0, 0); }
  }