* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    color: rgba(224, 224, 224, 0.712);
}

.borda {
    margin-top: 20px;
    width: 150px;
    border-radius: 120px;
    border: 5px rgba(136, 136, 136, 0.705);
    box-shadow: 0 0 20px rgba(206, 206, 206, 0.712);
    border: 2px solid rgb(36, 36, 36);
    animation: animacao3 5s infinite, animacao1 2s ease-in-out forwards;
 }

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
    animation: animacao3 5s infinite, animacao1 2s ease-in-out forwards;
}

h2 {
    animation: animacao3 5s infinite, animacao1 2s ease-in-out forwards;
    font-size: 16px;
}

.profile {
    text-align: center;
    margin-top: 20px;
}

.gif {
    background-image: url(../img/blackhole.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.social {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 30px;
}

.social img {
    width: 33px;
    border-radius: 8px;
    border: 2px solid rgb(49, 49, 49);
    animation: animacao3 5s infinite, animacao1 2s ease-in-out forwards;
}

.links-list {
    list-style: none;
}

.links-list li {
    margin: 10px 20px;
}

.links-list li a {
    display: block;
    background-color: rgba(255, 255, 255, 0.158);
    padding: 15px 20px;
    border-radius: 10px;
    text-decoration: none;
    color:rgba(0, 0, 0, 0.699);
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.342);
    font-weight: bold;
    border: 2px solid rgb(0, 0, 0);
    animation: animacao3 5s infinite, animacao1 2s ease-in-out forwards;
}

.links-list li a span {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.699);
    display: block;
    margin-top: 10px;
}

@keyframes animacao1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes animacao2 {
    50% { border-color: rgb(129, 129, 129); }
    100% { border-color: rgb(85, 85, 85); }
  }

@keyframes animacao3 {
    0% { border-color: rgb(192, 192, 192); }
    25% { border-color: rgb(155, 155, 155); }
    50% { border-color: rgb(158, 158, 158); }
    75% { border-color: rgb(75, 75, 75); }
    100% { border-color: rgb(34, 34, 34); }
  }